* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	font-family: "Poppins", sans-serif;
}

/* Header */

.logo {
	min-width: 10px;
	max-width: 70px;
	border-radius: 50%;
	box-shadow: 5px 4px 8px 0px #000000a6;
}

.ticket {
	width: 25px;
	position: absolute;
	left: 90%;
	top: 35%;

}

header {
	background-image: url(img/background.jpg);
	background-size: cover;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0.5rem;
}


.logo-text {
	margin-left: 1rem;
	color: rgb(248, 235, 235);

	p:nth-child(1) {
		font-weight: 700;
	}

	p:nth-child(2) {
		font-size: 0.6rem;
		color: rgb(248, 235, 235);
	}
	
}


/* Header */




nav {
	background-color: rgb(32, 31, 31);
	
	ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	}

	li a {
		list-style: none;
		text-decoration: none;
		color: rgb(248, 235, 235);
        font-size: 0.7rem;
        font-weight: 500;
        text-transform: uppercase;

	}

}


.section-1 {
	border: 1px solid rgba(255, 255, 255, 0.284);
    padding: 3rem;
    display: flex;
	text-align: center;
    flex-direction: column;
    align-items: center;
	gap: 1rem;

	div {
		width:90%;
		display: block;

		a {
			text-decoration: none;
			font-size: 0.8rem;
			color: black;
			font-weight: 500;
			letter-spacing: 0.1rem;
		}
		
		p:first-of-type {
			border: 1px solid #0000003b;
			border-radius: 0.5rem;
			padding: 0.5rem;
			margin-bottom: 1rem;
            background-color: rgb(255 186 126);
            box-shadow: 2px 2px 12px 0px #000000a8;
		}

		p:nth-child(2) {
			border: 1px solid #0000003b;
			border-radius: 0.5rem;
			padding: 0.5rem;
			background-color: rgba(128, 128, 128, 0.298);
			box-shadow: 2px 2px 12px 0px #000000a8;
		
		}


	}
}


.konferens {
	width: 100%;
	max-width: 800px;
	
}

.section-2 {
	display: flex;
	justify-content: center;
}